.tags-block {
  margin: 40px;
}

.blockBackground {
  background: #fafafa;
}

.gallery {
  width: 400px;
  margin: 0 auto;
}

.gallery h1 {
  text-align: center;
}
.galleryItem {
  height: 500px;
  display: inline-flex !important;
  background: #fafafa;
}

.gallery .galleryItem img {
  display: flex;
  align-self: center;
}
