.img-height-control .ant-card-cover {
    height: 160px;
    overflow: hidden;
}

.img-height-control {
    margin-bottom: 20px;
}

.filter-block label {
    margin-right: 20px;
}

.filter-block {
    margin-bottom: 40px;
}
.filters__btn {
    margin-bottom: 20px;
}