.feedback-page {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  align-items: center;
  margin: 0 auto;
}

.feedback-list-block {
  margin-top: 60px;
  width: 100%;
}

.feedback-item {
  background-color: #fafafa;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
.feedback-item__user {
  width: 120px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.feedback-item__avatar {
  margin: 0 auto 12px;
  display: block;
}

.feedback-item__delete {
  position: absolute;
  top: 0;
  transform: translate(0%, 50%);
  right: 20px;
}
